:root {
  line-height: 1.3;
  font-weight: 400;
  color: #0a0f38;

  --accent: #4937d5;
  --text: #0a0f38;
  --surface-alt: #eff6ff;
}

body {
  margin: 0;
  background: #dee7ff;
}

#root {
  min-height: 100vh;
}
