services:
  backend:
    build:
      context: ./events
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - appnet

  frontend:
    build:
      context: ./events-frontend
      dockerfile: Dockerfile
      args:
        VITE_API_URL: "/api"
    ports:
      - "5173:80"
    depends_on:
      - backend
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
